<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A7BED0;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="" width="60" height="40">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <a class="nav-link active text-dark" aria-current="page" href="#">Home</a>
          <a class="nav-link text-dark" href="#">About</a>
          <a class="nav-link text-dark" href="#">Contact</a>
        </ul>
      </div>
      <div class="d-flex">
        <a class="nav-link text-secondary text-dark" href="#">Login</a>
    </div>
    </div>
  </nav>
