<!-- Bottom Nav -->
<div class="fixed-bottom">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A7BED0;">
        <div class="container-fluid">
            <a class="navbar-brand text-dark" href="#">
                © Copyright 2021. All Rights Reserved.
            </a>
        </div>
    </nav>
</div>
