<footer>
    <nav id="bottom" class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy; 2021</h6>
    </nav>
  </footer>
</div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>

</body>
</html>