<%- include partials/header.ejs %>

<%- include partials/main-nav.ejs %>

<main class="container">

     <br>
     <br>
      <h1 class="display-4 text-center" >About Us</h1>
      <br>
      <br>
      <p class="lead text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi voluptatem, doloribus esse tempora officiis soluta perferendis similique veritatis tempore enim delectus voluptatum. Vel reiciendis nemo rerum? Minus dolores atque ullam.
        Necessitatibus doloribus quae minima suscipit ipsum optio possimus? Adipisci non deserunt voluptatem quisquam ipsam, dolorem eveniet ea animi doloribus perferendis fuga suscipit sequi sapiente soluta quidem expedita incidunt dignissimos eum.
        Quae reiciendis quisquam amet porro praesentium natus veniam, necessitatibus expedita autem fugiat quod temporibus at, debitis corporis reprehenderit. Mollitia repudiandae minus distinctio sequi tempore incidunt, animi tenetur perspiciatis unde nemo!
        Odit commodi quia praesentium. Explicabo eos nihil hic maxime, placeat nobis nam, natus sequi sed amet ab officia unde praesentium, veritatis dolores deleniti modi? Quibusdam fuga saepe mollitia sunt ex?
        Dicta praesentium veritatis aspernatur quaerat culpa? Molestias facilis autem esse voluptatem. Dolorum molestiae corporis hic incidunt officiis fuga, eius, consequatur voluptatibus cum quos quod laboriosam, debitis sint voluptates. Excepturi, deserunt!
      </p>
      <br>
      <hr>
      <br>
      <div class="row">
        <div class="col"><img src="/assets/images/colin.png" alt=""  width="150" height="110">
            <p class="lead">Project manager, Programmer </p>
        </div>
        <div class="col"> <img src="/assets/images/IMG_1777.jpg" alt=""  width="150" height="110">
            <p class="lead">Web Designer, UI Programmer</p>
        </div>
        <div class="col"><img src="/assets/images/IMG_4605.jpg" alt=""  width="150" height="110">
            <p class="lead">Web Designer, UI Programmer</p>
        </div>
        <div class="col"><img src="/assets/images/IMG_20210912.jpg" alt=""  width="150" height="110">
            <p class="lead">Security Programmer </p>
        </div>
        <div class="col"><img src="/assets/images/pic.jpg" alt="" width="150" height="110">
            <p class="lead">Software Programmer</p>
        </div>
        <div class="col"><img src="/assets/images/profile.jpg" alt=""  width="150" height="110">
            <p class="lead">Database Programmer</p>
        </div>
      </div>

        
    </div>
     
  
  </main>

<%- include partials/bottom-nav.ejs %>

<%- include partials/footer %>
