body {
  background-color: #dde7ef;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 1rem; /* Added */
  margin-top: 6rem;
  text-align: center;
  background-color: rgba(145, 165, 181, 1);
  border-radius: 5%;
}
.title{
  text-align: center;
  padding-bottom:1.5rem ;
}

.form-control-sm{
  border-radius: 15px;
  text-align: center;
 
}
.btn-outline-primary{
  background-color: white;
}
.btn-outline-danger{
  background-color: white;
}
#username{
  margin: auto;
  display: block;
}
#password{
  margin: auto;
  display: block;
}
#email{
  margin: auto;
  display: block;
}
.btn-center{
  margin: auto;
  display: block;
}
.registration {
  color:black; 
}

.col-md-12{
  margin-top: 20px;
}
