<div class="addSurvey">
<h1>Create Survey</h1>
<div class="container">
<form id="fields" action="submit">
    <hr>
    <div>
    <label for="name">Survey Name</label>
    <input type="text" name="name" placeholder="Survey Name"/>
</div>
<div>
    <label for="expiration">Expiration Date</label>
   <input type="text" name="expiration" placeholder="yyyy-mm-dd"/>
</div>
<br style="clear:both;"/>
   <hr>

<button class="btn btn-primary">Save</button>
<button type="submit" class="btn btn-warning">Publish</button>
<a href="/mySurveys" class="btn btn-danger">Cancel</a>
</form>
</div>
</div>